<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div align="center">
    <h2 th:text="'Welcome, ' + ${username} + '!'"></h2>

    <a href="/user" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><button><strong>Profile</strong></button></a>
    <a href="/logout"><button ><strong>Logout</strong></button></a>
</div>
</body>
</html>